@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --ion-font-family:'Roboto';
    /* --ion-background-color: #ffd600;
    --ion-color-primary:#6601ea;
    --ion-color-secondary:#ffd600;
    
    --border-radius:25px;
     */
    --custom-boxshadow:rgba(0, 0, 0, 0.4) 0px 2px 4px,rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --custom-border-radius:25px;
    --ion-item-background:transparent;
}

ion-button{
    border-radius: var(--custom-border-radius);
}
.button-native{
    border-radius: var(--custom-border-radius);

}

.card-branco {
    padding: 10px;
    --ion-background-color: white;
    background-color: white;
    border-radius: 25px;
    box-shadow: var(--custom-boxshadow);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  height: 0;
  opacity: 0;
}