@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --ion-font-family:'Staatliches';
    --ion-background-color: #ffd600;
    --ion-color-primary:#6601ea;
    --ion-color-secondary:#ffd600;
}

